:root {
    --main-color: hsl(344, 75%, 66%);
    --main-color-transparent: hsla(344, 75%, 66%, 0.5);
    --sec-color: hsl(276, 71%, 25%);
    --sec-color-transparent: hsla(276, 71%, 25%, 0.7);
    --ligth: hsl(193, 100%, 96%);
    --dark: hsl(192, 100%, 9%);
    --active-yellow: #e9c46a;
    /* --main-Pink: hsl(322, 100%, 66%); */
    /* --active-blue: hsl(208, 11%, 55%); */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    color: var(--dark);
    margin: 0;
}
header {
    position: relative;
    height: 20vh;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-color);
    text-align: start;
}

main {
    background-color: var(--ligth);
    padding: 0 4em;
}

.page-title {
    position: absolute;
    padding: 0 2em;
    bottom: 0;
}

section {
    padding: 8vh 0;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

/* Header Video Background */

.header-videoBg {
    position: absolute;
    object-fit: cover;
    /* height: 20vh; */
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

/* Navigation Bar */

nav:before{
    position: absolute;
    content: "";
    display: inline;
    background-color: var(--sec-color-transparent);
    width: 100%;
    height: 53px;
    left: 0;
    z-index: -1;
}
.navBar {
    /* background: var(--sec-color-transparent); */
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
}
.navBar-logo {
    width: 50px;
}
.navBar-nav {
    /* justify-content: space-evenly; */
    display: flex;
    padding: 0;
}
.navBar-nav li {
    list-style: none;
    margin: 0;
    margin-right: .5em;
}
.navBar-link {
    text-decoration: none;
    color: var(--main-color);
    transition: 0.5s ease-out color;
}
.navBar-link:hover {
    color: var(--ligth);
}
.actualPage {
    color: var(--ligth);
    font-weight: bold;
}
.navBar form {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar-search {
    width: 100%;
    border: 3px solid var(--main-color);
    border-right: none;
    padding: 5px;
    height: 25px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: var(--ligth);
    background-color: var(--main-color-transparent);
}
.navBar-search:focus, .navBar-search::placeholder {
    color: var(--ligth);
}
.navBar-search-btn {
    width: 35px;
    height: 25px;
    border: 3px solid var(--main-color);
    background: var(--main-color);
    text-align: center;
    color: var(--sec-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1em;
}

/* Reviews section */

.reviews {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid var(--sec-color);
}
.review-title {
    flex: 1 100%;
}
.review-card {
    flex: 1 40%;
    border-radius: 4px;
    padding: 32px 24px;
    border: 1px solid var(--ligth);
    transition: border 0.3s ease-out, background-color 0.3s;
    text-align: center;
}
.review-card:hover {
    background-color: #f2f8f9;
    border: 1px solid var(--sec-color);
    box-shadow: rgba(71, 18, 107, 0.12) 0px 48px 100px 0px;
}
.review-card-video{
    width: 90%;
}

/* News section */

.news {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.news-title {
    flex: 1 100%;
    margin-bottom: 3em;
    padding: 0 1em;
}
.news-card {
    flex: 1 20%;
    position: relative;
    overflow: hidden;
    margin: 12px;
    border-radius: 4px;
    padding: 3em;
    border: 1px solid var(--ligth);
    transition: border 0.4s ease-out, background-color 0.4s ease-out;
    text-align: center;
}
.news-card:hover {
    background-color: #f2f8f9;
    border: 1px solid var(--sec-color);
    box-shadow: rgba(71, 18, 107, 0.12) 0px 48px 100px 0px;
}
.news-card-description{text-align: start;}
.news-card img {
    min-width: 200px;
    /* max-width: 500px; */
    width: 100%;
}
.news-card a {
    position: absolute;
    color: var(--main-color);
    bottom: 0;
    right: 0;
    padding-right: 2em;
    text-decoration: none;
    width: 100%;
    border-radius: 0 0 4px 4px;
    transition: color 0.4s ease-out, background-color 0.4s ease-out;
    display: flex;
    height: 8%;
    align-items: center;
    justify-content: end;
}
.news-card a:hover {
    background-color: var(--sec-color-transparent);
    color: var(--ligth);
}

/* Footer section */
.footer{
    background-color: var(--sec-color);
    padding:0 4em ;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "subs subs subs subs"
    "social social icons none"
    "copy copy copy copy";
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.footer-subscribe{
    grid-area: subs;
}
.footer-subscribe a {
    text-decoration: none;
    color: var(--main-color);
    transition: color 0.5s ease-out, letter-spacing 0.5s ease-out;
}
.footer-subscribe a:hover {
    color: var(--active-yellow);
    letter-spacing: 2px;
}
.footer-social{
    grid-area: social;
    justify-self: end;
}
.footer-social-icons {
    color: var(--main-color);
    padding: 0;
    width: 100%;
    grid-area: icons;
    display: flex;
    list-style: none;
    justify-content: space-around;
    justify-self: start;
}
.footer-social-icons a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease-out;
}
.footer-social-icons a:hover {
    color: var(--active-yellow);
}
.copyright{
    grid-area: copy;
    color: var(--ligth);
}

/* Pagina Noticia Completa */

.new-card {
    display: flex;
    flex-flow: row wrap;
}
.new-title {
    flex: 1 100%;
}
.new-card-image {
    justify-content: center;
    margin: 2em auto;
    max-width: 1240px;

}
.new-card-subtitle {
    flex: 1 100%;
}

.horizontal {
    flex: 1 100%;
    /* max-width: 1240px; */
    width: 80vw;
}
.vertical{
    max-height: 80vh;
}
.new-card-description2 {
    margin: 2em;
    align-self: center;
}


/* Formulario */

/* .subscribe{
    max-width: 768px;
    margin: 0 auto;
} */
.subscribe-form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.subscribe label {
    display: block;
    color: var(--sec-color);
    position: relative;
    align-self: flex-start;
}
.subscribe h2 {
    text-align: center;
    margin-bottom: 2em;
}
.subscribe input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}
    
.subscribe input, .subscribe .btn {
    width: 100%;
    /* max-width: 450px; */
    margin: 1em 0em;
    padding: 1em;
    line-height: 1.4;
    background-color: var(--sec-color);
    border: 1px solid var(--sec-color);
    border-radius: 3px;
    transition: all 0.35s ease-in-out;
    color: var(--ligth);
    box-sizing: border-box;}

label[for="name"]:before,label[for="mail"]:before,label[for="terms"]:before{
    content: "* ";
    color: red;
    position: absolute;
    left: -.6em;
}
.tyc{
    width: 100%;
    text-align: start;
}
label[for="terms"]{
    display: inline-block;
    text-align: center;
    margin: 0;
    letter-spacing: .7px;
}
.subscribe input[type="checkbox"]{
    width: initial;
    margin: 1em;
}
.subscribe input::placeholder {
    color: var(--ligth);
}
.subscribe input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.subscribe input:focus {
    outline: 0;
    border-color: var(--main-color);
    color: var(--main-color);
}
.btn:hover {
    background-color: var(--sec-color-transparent);
    cursor: pointer;
    color: var(--main-color);
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .navBar, main, .footer{
        padding: 0 3em;
    }
    .page-title{
        padding: 0 1.5em;
    }
    /* .logo{
        display: none;
    } */
    .navBar-search{
        margin-left: 1em;
    }
    .review-card{
        flex: auto;
        margin: 1em 0;
    }
    .news-card{
        flex: auto;
        margin: 1em 0;
    }
    .news-card a{
        display: flex;
        height: 8%;
        align-items: center;
        justify-content: end;
    }
    .copyright{
        font-size: 0.5em;
    }
    .footer-container{
        align-items: center;
        grid-template-areas: 
        "subs subs subs subs"
        "social social social social "
        "icons icons icons icons "
        "copy copy copy copy ";
    }
    .footer-social{
        width: 100%;
        text-align: center;
    }
    .footer-social-icons{
        justify-content: space-evenly;
        justify-self: center;
        width: 60%;
    }
    section{
        padding: 4vh 0;
    }
    .vertical{
        max-width: 100%;
        width: initial;
        height: 70%;
    }
}

@media screen and (max-width: 600px) {
    main, .navBar, .footer{
        padding: 0 2em;
    }
    header{
        height: 25vh;
    }
    nav::before{
        height: 100%;
    }
    .header-videoBg{
        height: 100%;
    }
    .navBar{
        position: relative;
        flex-flow: row wrap;
        justify-content: center;
    }
    .logo{
        flex: 1 1 50px;
        justify-self: flex-start;
    }
    .navBar-nav{
        flex: 1 1 auto;
        justify-content: space-between;

    }
    .navBar form{
        margin: 1em 0;
        /* margin: 0 auto;  */
        /* margin-top: 5px; */
        /* height: 100%; */
        width: 80%;
        /* max-width: 500px; */
        /* justify-self: center; */
        flex: 3 1 auto
    }
    .navBar-search{margin: 0;}


    .page-title{
        padding: 0 1em;
        margin: 0;
    }
    .copyright{
        font-size: 0.3em;
    }
}

@media screen and (max-width: 364px) {


    .logo{
        width: 20px;
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .navBar-logo{
        width: 50px;
        align-self: center;
        order: 1;
    }

    .navBar-nav{
        margin: 0;
        order: 3;
        justify-content: space-between;
    }
    .navBar form{
        order: 2;
        width: 20%;
    }

    .subscribe h2{
        font-size:1.2em;
    }
}