@keyframes shake-icon {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%; }
  15% {
    transform: translateX(-30px) rotate(-6deg); }
  30% {
    transform: translateX(15px) rotate(6deg); }
  45% {
    transform: translateX(-15px) rotate(-3.6deg); }
  60% {
    transform: translateX(9px) rotate(2.4deg); }
  75% {
    transform: translateX(-6px) rotate(-1.2deg); } }

@keyframes breath-icon {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out; }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in; }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out; }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in; }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out; } }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #00252e; }
  body main {
    background-color: #ebfbff;
    padding: 0 4em; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    color: #e9678a; }
  body section {
    padding: 5vh 0; }
  body .wrapper,
  body .navBar {
    max-width: 1240px;
    margin: 0 auto; }
  body .page-title {
    position: absolute;
    padding-left: 2em;
    bottom: 0;
    box-sizing: border-box; }
  body .space {
    display: block;
    margin: 1em; }

header {
  position: relative;
  height: 20vh; }
  header .header-videoBg {
    position: absolute;
    object-fit: cover;
    width: 100%;
    z-index: -1; }

.navBar {
  padding: 0 4em;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navBar::before {
    position: absolute;
    content: "";
    background-color: rgba(73, 18, 109, 0.7);
    width: 100%;
    height: 53px;
    left: 0;
    z-index: -1; }
  .navBar-logo {
    width: 50px; }
  .navBar-nav {
    display: flex;
    padding: 0;
    align-self: center; }
    .navBar-nav li {
      list-style: none;
      margin: 0;
      margin-right: 3em; }
  .navBar-link {
    text-decoration: none;
    color: #e9678a;
    transition: 700ms ease-out color; }
    .navBar-link:hover {
      color: #ebfbff; }
  .navBar .actualPage {
    color: #ebfbff;
    font-weight: bold; }
  .navBar form {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .navBar-search {
    width: 100%;
    height: 100%;
    padding: 5px;
    color: #ebfbff;
    background-color: rgba(233, 103, 138, 0.5);
    outline: none;
    border: 3px solid #e9678a;
    border-right: none;
    border-radius: 5px 0 0 5px; }
    .navBar-search:focus, .navBar-search::placeholder {
      color: #ebfbff; }
    .navBar-search-btn {
      width: 35px;
      height: 100%;
      color: #49126d;
      background-color: #e9678a;
      outline: none;
      border: 3px solid #e9678a;
      border-right: none;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 1em;
      transition: 700ms ease-out color; }
      .navBar-search-btn:hover {
        color: #ebfbff; }

.reviews, .news {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #49126d;
  justify-content: space-between;
  gap: 8px; }
  .reviews .review-title, .news .review-title, .reviews .news-title, .news .news-title {
    flex: 1 100%;
    padding-left: 1em; }
  .reviews .review-card, .news .review-card {
    box-sizing: border-box;
    padding: 2em;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: border-color 500ms ease-out, background-color 500ms, box-shadow 500ms, opacity 500ms;
    display: flex;
    flex-direction: column;
    flex: 1 45%; }
    .reviews .review-card:hover, .news .review-card:hover {
      background-color: #f2f8f9;
      border-color: #49126d;
      box-shadow: rgba(73, 18, 109, 0.12) 0px 48px 100px 0px; }
    .reviews .review-card-title, .news .review-card-title {
      order: 2; }
    .reviews .review-card-video-container, .news .review-card-video-container {
      order: 1;
      position: relative;
      height: 0;
      padding-bottom: 56.25%;
      overflow: hidden; }
    .reviews .review-card-video, .news .review-card-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .reviews .review-card-description, .news .review-card-description {
      order: 3; }

.news-title {
  padding: 0 1em; }

.news-card {
  box-sizing: border-box;
  padding: 2em;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: border-color 500ms ease-out, background-color 500ms, box-shadow 500ms, opacity 500ms;
  position: relative;
  flex: 1 30%;
  justify-content: space-between; }
  .news-card:hover {
    background-color: #f2f8f9;
    border-color: #49126d;
    box-shadow: rgba(73, 18, 109, 0.12) 0px 48px 100px 0px; }
  .news-card img {
    width: 100%;
    min-width: 160px; }
  .news-card-read {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
    width: 100%;
    height: 2em;
    text-decoration: none;
    color: #e9678a;
    transition: background-color 500ms ease-out, color 500ms;
    text-transform: uppercase;
    font-weight: 600; }
    .news-card-read:hover {
      background-color: #49126d;
      color: #ebfbff; }
    .news-card-read i {
      margin-bottom: -1px;
      padding-left: .5em;
      transition: transform 500ms ease-out; }
    .news-card-read:hover i {
      transform: translateX(1em); }

.footer {
  background-color: #49126d;
  padding: 0 4em;
  margin-top: -1px; }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "subs subs" "social icons" "copy copy";
    justify-items: center;
    align-items: center;
    padding: 0 2em; }
  .footer-subscribe {
    grid-area: subs; }
    .footer-subscribe a {
      text-decoration: none;
      color: #e9678a;
      transition: color 500ms ease-out, letter-spacing 500ms; }
      .footer-subscribe a:hover {
        color: #e8c468;
        letter-spacing: 1.5px; }
      .footer-subscribe a i {
        transition: margin 500ms ease-out; }
      .footer-subscribe a:hover i {
        margin-left: 30px;
        animation: shake-icon 1.2s ease 800ms both; }
  .footer-social {
    grid-area: social;
    justify-self: end;
    padding-right: 1em; }
  .footer-social-icons {
    grid-area: icons;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 32px; }
    .footer-social-icons a i {
      color: #e9678a;
      transition: color 500ms ease-out; }
      .footer-social-icons a i:hover {
        color: #e8c468;
        animation: breath-icon 1.5s ease-in-out 500ms infinite both; }
  .footer .copyright {
    grid-area: copy;
    color: #ebfbff;
    font-weight: lighter;
    margin-bottom: 5px; }

.new-card {
  max-width: 768px;
  margin: 0 auto; }
  .new-card .new-title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 9px; }
  .new-card-subtitle {
    color: #49126d;
    font-weight: 400;
    font-style: italic;
    margin: 0; }
  .new-card .credits {
    display: block;
    margin: 9px 0;
    font-weight: 300; }
    .new-card .credits a {
      text-decoration: none;
      color: #e9678a; }
    .new-card .credits i {
      color: #49126d; }
  .new-card-image {
    display: block;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%; }
    .new-card-image-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 5px;
      margin: 2em 0; }
      .new-card-image-grid-1 {
        grid-column: 1/3; }
      .new-card-image-grid-1, .new-card-image-grid-2, .new-card-image-grid-3 {
        width: 100%; }
  .new-card-description:first-of-type {
    text-align: justify;
    font-size: 20px;
    color: #49126d; }
    .new-card-description:first-of-type::before, .new-card-description:first-of-type::after {
      display: inline-block;
      content: "";
      width: 0.7em;
      height: 2px;
      margin-bottom: 5px;
      background-color: #e9678a; }

.subscribe h2 {
  margin-top: 0;
  text-align: center; }

.subscribe-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center; }
  .subscribe-form label {
    align-self: flex-start;
    color: #49126d;
    position: relative;
    display: block; }
    .subscribe-form label[for="name"]:before, .subscribe-form label[for="mail"]:before, .subscribe-form label[for="terms"]:before {
      content: "* ";
      color: red;
      position: absolute;
      left: -.6em;
      display: block; }
    .subscribe-form label[for="terms"] {
      display: inline-block;
      text-align: center;
      margin: 0;
      letter-spacing: 0.7px; }
  .subscribe-form .tyc {
    width: 100%;
    text-align: start; }
  .subscribe-form .btn:hover {
    background: rgba(73, 18, 109, 0.7); }
  .subscribe-form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .subscribe-form input, .subscribe-form input .btn {
    width: 100%;
    margin: 1em 0;
    line-height: 2em;
    background: #49126d;
    border: 1px solid #49126d;
    border-radius: 3px;
    transition: all 350ms ease-in-out;
    color: #ebfbff; }
  .subscribe-form input[type="checkbox"] {
    width: initial;
    margin: 1em; }
  .subscribe-form input::placeholder {
    color: #ebfbff; }
  .subscribe-form input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); }
  .subscribe-form input:focus {
    outline: 0;
    border-color: #e9678a;
    color: #e9678a; }

@media screen and (min-width: 1350px) {
  body .page-title {
    padding: 0; } }

@media screen and (max-width: 768px) {
  body main, body .navBar, body .footer {
    padding: 0 2em; }
  .navBar-nav li {
    margin-right: .7em; }
  .reviews .review-card, .news .review-card, .news .news-card {
    flex: 1 auto;
    padding: 1.5em; }
  .copyright {
    font-size: .8em; }
  .footer-container {
    grid-template-areas: "subs subs" "social social" "icons icons" "copy copy";
    gap: 1em; }
  .footer-social {
    padding: 0;
    margin: 0;
    justify-self: center;
    text-align: center; }
    .footer-social-icons {
      font-size: 40px; } }

@media screen and (max-width: 600px) {
  body main, body .navBar, body .footer {
    padding: 0 .5em; }
  body header {
    height: 25vh; }
  body .page-title {
    padding-left: .5em;
    margin: 0; }
  .copyright {
    font-size: 10px; }
  .header-videoBg {
    height: 100%; }
  .navBar {
    position: relative;
    flex-flow: row wrap;
    justify-content: space-around; }
    .navBar::before {
      height: 120%; }
    .navBar form {
      width: 80%; }
  .new-card .new-title {
    font-size: 28px; }
  .new-card-description {
    padding: 1em; }
  .new-card-image-grid-1, .new-card-image-grid-2, .new-card-image-grid-3 {
    grid-column: 1/3; }
  .footer-container {
    padding: 0; } }

@media screen and (max-width: 368px) {
  .logo svg {
    display: none; }
  .navBar {
    justify-content: center; }
  .navBar-nav {
    width: 100%; }
  .footer-subscribe {
    text-align: center;
    font-size: 26px; }
  .navBar-nav {
    margin: 0 0 .3em;
    justify-content: space-between; }
  .copyright {
    font-size: 7px; } }
