.new-card{
    max-width: 768px;
    margin: 0 auto;
    &-image{
        display: block;
        margin: 0 auto;
    }
    .horizontal{
        max-width: 1024px;
        width: 80%;
    }
    .vertical{
        width: 50%;
    }
}